/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	line-height: 1.8em;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	font-family: Helvetica, Arial, sans-serif;
	color: #222;
	background-image: linear-gradient(to bottom right, white, #97bbc4);
}


.header {
	text-align: left;
	font-size: 50px;
	margin-left: 50px;
	color: #5a7f8a;
}

.header a {
	text-decoration: none;
}

.header a:visited {
	color: #5a7f8a;
}

.twitter_container {
	width: 500px;
	margin-left: 50px;
}

#twitter_status {
	color: #5f7378;
	padding: 2px;
	font-size: 18px;
}

.tweet {
	background-color: lightblue;
	padding: 10px;
	border-radius: 8px;
	border-width: 0.5px;
	border-style: dashed;
	margin: 3px;
}
.tweet_date {
	font-size: 11px;
	margin: 2px;
	opacity: .8;
}

.tweet_msg {
	background-color: #ffffe8;
	border-style: dotted;
	border-width: 1px 0px;
	padding: 10px;
	font-style: italic;
	color: #1e4f5c;
	border-radius: 2px;
}

.tweet_user {
	font-size: 14px;
	color: grey;
	padding: 2px 0px 2px 10px;
	background-color: white;
	border-style: solid;
	cursor: pointer;
	border-radius: 2px;
}

.shawndrost:hover,
.sharksforcheap:hover,
.mracus:hover,
.douglascalhoun:hover {
	color: #06acd1;
}

#home {
	float: right;
}
